{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% oro_title_set({params : {"%entity.code%": entity.code}}) %}

{% block navButtons %}
    {% if resource_granted('CREATE', entity) and entity.isStory() %}
        {{ UI.button({
            'path' : path('oro_bug_tracking_system_issue_create', { 'id': entity.id }),
            'label': 'oro.bugtrackingsystem.issue.create_subtask_button'|trans
        }) }}
    {% endif %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('oro_bug_tracking_system_issue_update', { id: entity.id }),
            'entity_label': 'oro.bugtrackingsystem.issue.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_bug_tracking_system_api_delete_issue', {'id': entity.id}),
            'dataRedirect': path('oro_bug_tracking_system_issue_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-user',
            'dataId': entity.id,
            'entity_label': 'oro.bugtrackingsystem.issue.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_bug_tracking_system_issue_index'),
        'indexLabel': 'oro.bugtrackingsystem.issue.entity_plural_label'|trans,
        'entityTitle': entity.code ~ ' : ' ~ entity.summary
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set issueInformation -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderProperty('oro.bugtrackingsystem.issue.summary.label'|trans, entity.summary) }}
                {{ UI.renderHtmlProperty('oro.bugtrackingsystem.issue.description.label'|trans, entity.description|nl2br) }}
                {{ UI.renderProperty('oro.bugtrackingsystem.issue.issue_type.label'|trans, entity.issueType) }}
                {{ UI.renderProperty('oro.bugtrackingsystem.issue.issue_priority.label'|trans, entity.issuePriority) }}
                {{ UI.renderProperty('oro.bugtrackingsystem.issue.workflow_step.label'|trans, entity.workflowStep ? entity.workflowStep.label : 'N/A') }}
                {{ UI.renderProperty('oro.bugtrackingsystem.issue.issue_resolution.label'|trans, entity.issueResolution) }}
                {#{{ UI.renderProperty('oro.bugtrackingsystem.issue.created_at.label'|trans, entity.createdAt|oro_format_datetime) }}#}
                {#{{ UI.renderProperty('oro.bugtrackingsystem.issue.updated_at.label'|trans, entity.updatedAt|oro_format_datetime) }}#}

                {%- set reporterData -%}
                {%- if entity.reporter -%}
                    {% if resource_granted('oro_user_user_view') %}
                        <a href="{{ path('oro_user_view', {'id': entity.reporter.id}) }}">
                            {{ entity.reporter|oro_format_name|escape }}
                        </a>
                    {% else %}
                        {{ entity.reporter|oro_format_name|escape }}
                    {% endif %}
                {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('oro.bugtrackingsystem.issue.reporter.label'|trans, reporterData) }}

                {%- set ownerData -%}
                {%- if entity.owner -%}
                    {% if resource_granted('oro_user_user_view') %}
                        <a href="{{ path('oro_user_view', {'id': entity.owner.id}) }}">
                            {{ entity.owner|oro_format_name|escape }}
                        </a>
                    {% else %}
                        {{ entity.owner|oro_format_name|escape }}
                    {% endif %}
                {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('oro.bugtrackingsystem.issue.owner.label'|trans, ownerData) }}
            </div>
            <div class="responsive-block">
                {{ entityConfig.renderDynamicFields(entity) }}
            </div>
        </div>
    {%- endset -%}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [issueInformation]}
            ]
        }
    ] %}

    {% set id = 'issueView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
