{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroTagBundle::macros.html.twig' as tag %}

{% oro_title_set({params : {"%entityCode%": entity.code}}) %}

{% block navButtons %}
    {% if resource_granted('CREATE', entity) and entity.isStory() %}
        {{ UI.button({
            'path' : path('oro_bug_tracking_system_issue_create', { 'id': entity.id }),
            'label': 'oro.bugtrackingsystem.issue.create_subtask_button'|trans
        }) }}
    {% endif %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('oro_bug_tracking_system_issue_update', { id: entity.id }),
            'entity_label': 'oro.bugtrackingsystem.issue.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {% set idButton = 'btn-remove-issue' %}
        {{ UI.button({
            'path':  path('oro_bug_tracking_system_api_delete_issue', {'id': entity.id}),
            'aCss':  'no-hash',
            'iCss':  'icon-trash',
            'id':    idButton,
            'label': 'oro.ui.delete'|trans,
            'title': 'oro.ui.delete'|trans ~ ' ' ~ 'oro.bugtrackingsystem.issue.entity_label'|trans,
        }) }}

        {% set issueDeletionComponentOptions = {
            idButton: idButton,
            url: path('oro_bug_tracking_system_issue_index'),
            subTasksCount: entity.getChildren()|length
        } %}

        <span data-page-component-module="orobugtrackingsystem/js/app/components/issue-deletion-component"
             data-page-component-options="{{ issueDeletionComponentOptions|json_encode }}"></span>
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_bug_tracking_system_issue_index'),
        'indexLabel': 'oro.bugtrackingsystem.issue.entity_plural_label'|trans,
        'entityTitle': entity.code ~ ' : ' ~ entity.summary
    } %}
    {% if entity.parent %}
        {% set breadcrumbs = breadcrumbs|merge({'additional': [{
            'entity': entity.parent,
            'indexPath': path('oro_bug_tracking_system_issue_view', { 'id': entity.parent.id }),
            'indexLabel': entity.parent.code
        }]}) %}
    {% endif %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set issueInformation -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {% if entity.isSubTask() %}
                    {{ UI.renderHtmlProperty(
                        'oro.bugtrackingsystem.issue.parent.label'|trans,
                        entity.parent ? UI.link({'path': path('oro_bug_tracking_system_issue_view', {'id': entity.parent.id}), 'label': entity.parent.code}) : 'N/A'
                    ) }}
                {% endif %}
                {{ UI.renderProperty('oro.bugtrackingsystem.issue.summary.label'|trans, entity.summary) }}
                {{ UI.renderHtmlProperty('oro.bugtrackingsystem.issue.description.label'|trans, entity.description|nl2br) }}
                {{ UI.renderProperty('oro.bugtrackingsystem.issue.issue_type.label'|trans, entity.issueType) }}
                {{ UI.renderProperty('oro.bugtrackingsystem.issue.issue_priority.label'|trans, entity.issuePriority) }}
                {{ UI.renderProperty('oro.bugtrackingsystem.issue.workflow_step.label'|trans, entity.workflowStep ? entity.workflowStep.label : 'N/A') }}
                {{ UI.renderProperty('oro.bugtrackingsystem.issue.issue_resolution.label'|trans, entity.issueResolution) }}

                {%- set reporterData -%}
                {%- if entity.reporter -%}
                    {% if resource_granted('oro_user_user_view') %}
                        <a href="{{ path('oro_user_view', {'id': entity.reporter.id}) }}">
                            {{ entity.reporter|oro_format_name|escape }}
                        </a>
                    {% else %}
                        {{ entity.reporter|oro_format_name|escape }}
                    {% endif %}
                {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('oro.bugtrackingsystem.issue.reporter.label'|trans, reporterData) }}

                {%- set ownerData -%}
                {%- if entity.owner -%}
                    {% if resource_granted('oro_user_user_view') %}
                        <a href="{{ path('oro_user_view', {'id': entity.owner.id}) }}">
                            {{ entity.owner|oro_format_name|escape }}
                        </a>
                    {% else %}
                        {{ entity.owner|oro_format_name|escape }}
                    {% endif %}
                {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('oro.bugtrackingsystem.issue.owner.label'|trans, ownerData) }}
            </div>
            <div class="responsive-block">
                {{ entityConfig.renderDynamicFields(entity) }}

                {% if resource_granted('oro_tag_view_tag_cloud') %}
                    {{ UI.renderHtmlProperty('oro.tag.entity_plural_label'|trans, tag.renderView(entity)) }}
                {% endif %}
            </div>
        </div>
    {%- endset -%}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [issueInformation]}
            ]
        }
    ] %}

    {%- set collaboratorsGridBlock -%}
        {{ dataGrid.renderGrid('collaborators_grid', {'issue_id': entity.id}) }}

        <div data-page-component-module="orobugtrackingsystem/js/app/components/issue-collaborators-refresh-component"></div>
    {%- endset -%}

    {% set collaboratorsBlock = [
        {
            'title': 'Collaborators'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [collaboratorsGridBlock] }
            ]
        }
    ] %}
    {% set dataBlocks = dataBlocks|merge(collaboratorsBlock) %}

    {% set relatedIssuesBlock = [
        {
            'title': 'Related Issues'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [dataGrid.renderGrid('related-issues-grid', {'issue_id': entity.id})] }
            ]
        }
    ] %}
    {% set dataBlocks = dataBlocks|merge(relatedIssuesBlock) %}

    {% if entity.isStory() %}
        {% set subtasksBlock = [
            {
                'title': 'Sub-Tasks'|trans,
                'class': 'active',
                'subblocks': [
                    {'data' : [dataGrid.renderGrid('subtask_grid', {'issue_id': entity.id})] }
                ]
            }
        ] %}
        {% set dataBlocks = dataBlocks|merge(subtasksBlock) %}
    {% endif %}

    {% set id = 'issueView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
